/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
}

.card_width {
    width:1024px;
    height:450px;
}
